<header class="header navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<div class="menu-mobile"><a href="" ng-click="menuClick()">
				<span class="icon-bars"></span>
				<span class="icon-bars"></span>
				<span class="icon-bars"></span>
			</a></div>
			<a href="" class="h4" ng-click="go('/home')">Spring Gathering 2017</a>
		</div>
		<div id="bs-navbar" ng-class="mobileNav" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="" ng-click="goMenu('/home')">Home</a></li>
				<li><a href="" ng-click="goMenu('/howto')">Petunjuk Game</a></li>
				<li><a href="" ng-click="goMenu('/group')">Kelompok</a></li>
			</ul>
		</div>
	</div>
</header>