<div>
	<div class="jumbotron">
		<div class="container">
			<h3>Selamat datang di Amazing Race!</h3>
			<p>Spring Gathering PPI Swedia 2017. <br>Temukan lokasi-lokasi di Stockholm berdasarkan teka-teki di bawah ini</p>
			<p><a href="" ng-click="go('/howto')">Lihat aturan main di sini</a></p>
		</div>
	</div>
	<div class="container home">
	    <div class="rows">
	    	<div ng-repeat="location in locations" class="col-xs-12 col-sm-6 col-md-4">
	    		<div class="panel panel-default">
	    		  <div class="panel-body">
	    		    <p><span class="fc-primary">Check Point: </span>{{location.question}}</p>
	    		    <a href="" ng-if="location.bonusPoint" ng-click="toggleModal(location.bonusPoint)" class="">Lihat Bonus Point</a>
	    		  </div>
	    		</div>
	    	</div>
	    </div>
	</div>
	 <modal show-modal="modal.show" info="imageUrl"></modal>
</div>