<div>
	<div class="jumbotron">
		<div class="container">
			<h3>Selamat datang di Treasure Hunt!</h3>
			<p>Spring Gathering PPI Swedia 2017. <br>Temukan lokasi-lokasi di Stockholm berdasarkan teka-teki di bawah ini</p>
			<p><a href="" ng-click="go('/howto')">Lihat aturan main di sini</a></p>
		</div>
	</div>
	<div class="container home">
	    <div class="rows">
	        <div class="col-sm-12">
	            <ol>
	                <li ng-repeat="location in locations">
	                    <p class="question">{{location.question}}</p>
	                    <a href="" ng-click="toggleModal(location.bonusPoint)" class="btn btn-warning">Bonus Point</a>
	                </li>
	            </ol>
	        </div>
	    </div>
	</div>
	 <modal show-modal="modal.show" info="imageUrl"></modal>
</div>