<div class="jumbotron">
	<div class="container">
		<h3>Petunjuk Scavanger Hunt</h3>
		<p>Selain berburu tempat menarik di Stockholm, masing-masing tim akan berkompetisi dengan tim lain di <strong>mini-game round</strong>. Peserta <strong>wajib</strong> berada di lokasi pos sesuai jadwal. Jangan sampai ngaret ya!</p>
	</div>
</div>
<div class="container">
	<div class="rows">
		<div class="col-xs-12">
			<h4>Aturan Main</h4>
			<p>Kalian sebagai tim harus memecahkan jawaban dari teka-teki untuk menemukan tempat-tempat menarik di Stockholm. Terdapat 15 lokasi checkpoint dan ?? bonus point yang kalian dapat lihat disini. Bonus point berada di sekitar lokasi checkpoint.</p>
			<h4>Cara Mendapatkan Poin</h4>
			<ul>
				<li>Foto selfie grup di lokasi checkpoint (dan bonus point) dikirim via Whatsapp ke:
					<br>Kelompok 1 - 6 ke +46 79 022 4013 (Ela)
					<br>Kelompok 7 - 12 ke +46 76 936 4867 (Putri)
				</li>
				<li>Foto harus segera dikirimkan setelah sampai di lokasi. Jangan menunggu sampai akhir-akhir ya. Satu grup cukup mengirimkan foto lewat satu orang.</li>
				<li>Foto harus disertai informasi:&lt;&lt;Nomor grup&gt;&gt; + &lt;&lt;Nama lokasi checkpoint&gt;&gt;
				</li>
			</ul>
			<h4>MINI GAME ROUND</h4>
			<p>
				Selain berburu tempat menarik di Stockholm, masing-masing tim akan berkompetisi dengan tim lain di mini-game round. 

				<br>Peserta <em>wajib</em> berada di lokasi pos dengan jadwal berikut. Jangan sampai ngaret ya!
			</p>
			<div class="panel panel-success">
				<div class="panel-heading">Jam 15.00</div>
				<div class="panel-body">
					<p>
						<a href="https://goo.gl/maps/Ac322rNe2dw" target="_blank">Pos 1 (Belakang Vasa Museet)</a>
						<br>Kelompok 1 &amp; 2
					</p>
					<p>
						<a href="https://goo.gl/maps/Ac322rNe2dw" target="_blank">Pos 2 - Seberang Nordiska Museet</a>
						<br>Kelompok 7 &amp; 8
					</p>
				</div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">Jam 15.40</div>
				<div class="panel-body">
					<p>
						<a href="https://goo.gl/maps/Ac322rNe2dw" target="_blank">Pos 1 (Belakang Vasa Museet)</a>
						<br>Kelompok 3 &amp; 4
					</p>
					<p>
						<a href="https://goo.gl/maps/Ac322rNe2dw" target="_blank">Pos 2 - Seberang Nordiska Museet</a>
						<br>Kelompok 9 &amp; 10
					</p>
				</div>
			</div>
			<div class="panel panel-danger">
				<div class="panel-heading">Jam 16.20</div>
				<div class="panel-body">
					<p>
						<a href="https://goo.gl/maps/Ac322rNe2dw" target="_blank">Pos 1 (Belakang Vasa Museet)</a>
						<br>Kelompok 5 &amp; 6
					</p>
					<p>
						<a href="https://goo.gl/maps/Ac322rNe2dw" target="_blank">Pos 2 - Seberang Nordiska Museet</a>
						<br>Kelompok 11 &amp; 12
					</p>
				</div>
			</div>
			<h4>Lokasi POS</h4>
			<p>
				Pos 1 : <a href="https://goo.gl/maps/Ac322rNe2dw" target="_blank">(Belakang Vasa Museet)</a>
				<br>Pos 2 : <a href="https://goo.gl/maps/jYehm87FyX42" target="_blank">(Seberang Nordiska Museet)</a>
			</p>
			<p>
				Jika kesulitan menemukan lokasi pos dapat menghubungi:
				<br>Pos 1 : Dimitri +46 70 695 4986 (WA &amp; Nomor Swedia)
				<br>Pos 2 : Prisila +62 813 1007 6083 (WA) atau +46 73 5550481 (Nomor wedia)
			</p>
			<p>
				Pemenang scavenger hunt adalah yang paling banyak mengumpulkan point

				<br><strong>Peserta sudah harus tiba di Wisma KBRI pada jam 18.00. On time ya!</strong>

				<br>Jika ada pertanyaan selama treasure hunt dapat menghubungi:
				<br>+46 79 022 4013 (Ela)
				<br>+46 76 936 4867 (Putri)
			</p>


			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">Besaran Poin</h4></div>
				<div class="panel-body">
					<ul>
						<li>+15 - Foto group (selfie atau gaya bebas seru) di lokasi checkpoint</li>
						<li>+10 - Foto group (selfie atau gaya bebas seru) dengan object bonus point di dalam satu frame</li>
						<li>+50 - Tim pemenang mini-games di post game</li>
						<li>+20 - Tim yang kalah pada mini-game di post game</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>